{% if use_apt_cacher_ng_proxy %}{% else %}#{% endif %}Acquire::http { proxy "http://{{ apt_cacher_ng_proxy_address }}:{{ apt_cacher_ng_proxy_port }}"; };
{% if use_apt_cacher_ng_proxy %}{% else %}#{% endif %}Acquire::https::proxy "DIRECT";
