# -*- conf-space -*-

# list nodes here that you only want to log into typically over network, and
# never using the GUI
[raspberrypi-headless]
#rpi1	ansible_host=10.0.1.2
rpi1	ansible_host=raspberrypi.local

# list nodes here that you to log into using GUI
[raspberrypi-gui]

[raspberrypi-nodes:children]
raspberrypi-headless
raspberrypi-gui
