# -*- conf-space -*-

# list nodes here that you only want to login to typically over network, and
# never using the GUI
[raspberrypi-headless]
rpi1	ansible_host=10.0.1.2
#rpi1	ansible_host=raspberrypi.local
hypi2	ansible_host=black-pearl.local ansible_user=pirate

# list nodes here that you to login to using GUI
[raspberrypi-gui]

# list nodes here that need wifi config; can be in either of above groups
[raspberrypi-wifi]
rpi1

[raspberrypi-nodes:children]
raspberrypi-headless
raspberrypi-gui
