country={{ raspi_wifi_country_code }}
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

network={
	ssid="{{ raspi_wifi_ssid }}"
	psk="{{ raspi_wifi_psk }}"
	key_mgmt={{ raspi_wifi_key_mgmt }}

# NOTE: following are commented out in template output, as majority of users won't need them
#	proto={{ raspi_wifi_proto }}
# Pairwise can be CCMP or TKIP (for WPA2 or WPA1)
#	pairwise={{ raspi_wifi_pairwise }}
# Authorization option should be OPEN for both WPA1/WPA2 (in less commonly used are SHARED and LEAP)
#	auth_alg={{ raspi_wifi_auth_alg }}
}
